
*~
/bin/
# Build artifacts
coverage-controllers.out
coverage.out
*.dll
.DS_Store
*.dylib
*.exe
# Go
# IDE
.idea/
# OS
*.out
sbom-binary.json
sbom.json
# SBOM & scan output
*.so
*.swp
Thumbs.dbcoverage-operator.out
.tmp/
trivy-report.json
trivy-results.sarif
/vendor/
.vscode/
coverage-operator.out
coverage-controllers.out
